<div class="container">
    <div class="frame-content">
        <p 
            [ngStyle]="{'color':color}"
            class="frame-quote"
        >
        <fa-icon 
            [icon]="faQuoteLeft"
        >
        </fa-icon>
         {{quote.quote}}
        </p>
        <span 
            [ngStyle]="{'color':color}"
        >
            -{{quote.author}}
        </span>
    </div>
    <div class="btns">
        <app-button-quote
            [color]="color"
            (changeQuote)="changeQuote()"
        >
        </app-button-quote>
    </div>   
</div>
