<div class="container">
    <div 
        [@textAni]=divText
        class="frame-content"
        [ngStyle]="{'color':color}"
    >
        
        <p 
            
            class="frame-quote"
        >
        <fa-icon 
            [icon]="faQuoteLeft"
        >
        </fa-icon>
         {{quote.quote}}
        </p>
        <span>
            - {{quote.author}}
        </span>
    </div>
    <div class="btns">
        <app-button-quote
            [color]="color"
            (changeQuote)="changeQuote()"
        >
        </app-button-quote>
    </div>   
</div>
